/*
* Andri Kurnia
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
  font-family: 'Raleway', 'Segoe UI', 'Arial';
}

header {
  width: 100%;
  z-index: 100;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #fff;
  border-width: 0;
  border-bottom: 1px solid #ccc;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #333;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
  color: #111;
  background-color: #eee;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #111;
  background-color: #eee;
}

.page-header-2 {
  background-color: #343434;
  border-bottom: 1px solid #222;
}

.page-header-2 h1 {
  color: #ddd;
  text-shadow: 0 1px 1px #111;
}

footer {
  background: url('../images/footer.jpg') repeat-x center top;
  margin-top: 20px;
  background-color: #343434;
  min-height: 200px;
  padding: 20px 15px 40px;
}

footer .site-name {
  color: #eee;
  text-transform: uppercase;
  font: 600 italic 5rem 'Open Sans';
  padding-top: 30px;
  text-shadow: 2px 1px 0 #222;
  border-bottom: 1px solid #fff;
}

.bg-big {
  background-color: #f6f6f6;
  /*background: url('../images/walk_with_me-wallpaper-2560x1600.jpg') center top;*/
  /*background: url('../images/1.jpg') center top;*/
}

/* Pane */
.pane {
  padding: 15px 40px;
  background: #fff;
  border: solid #ddd;
  border-width: 1px 1px 3px 1px;
  border-bottom-color: #999;

  margin-bottom: 10px;

  color: #222;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}

.pane-1 {
  border-bottom-color: #ff4136; 
}

.pane-2 {
  border-bottom-color: #0074D9;
}

.pane-3 {
  border-bottom-color: #2ECC40;
}

.pane-4 {
  border-bottom-color: #85144B; 
}

.pane-5 {
  border-bottom-color: #B10DC9;
}

.pane-header {
  border-bottom: 2px solid #333;
}

ul.personal-info {
  font-weight: 500;
  font-size: 16px;
  padding-left: 0px;
  list-style: none;
  margin-top: 10px;
}

ul.personal-info > li {
  margin-bottom: 4px;
  border-bottom: 1px solid #eee;
  padding: 15px 10px;
}

ul.personal-info ul.location {
  list-style: none;
  padding-left: 5px;
}

.fa-warp-buble::before {
  border-radius: 50%;
  padding: 10px;
}

.fa-red::before {
  background-color: #ff4136;
  color: #fff;
}

.fa-orange::before {
  background-color: #FF851B;
  color: #fff;
}

.fa-blue::before {
  background-color: #0074D9;
  color: #fff;
}

.fa-twitter::before {
  background: #4099FF;
  color: #fff;
}



/* PADDING */
.pt-20 {padding-top: 20px !important}
.pl-15 {padding-left: 15px !important}
.pl-30 {
  padding-left: 30px !important;
}

/* MARGIN */
.mb-10 {margin-bottom: 10px !important}

.ml-5 {margin-left: 5px !important}


/* LIST STYLE */
.list-style-2 {
  list-style: none;
  padding-left: 0px;
  margin-top: 10px;
}

.list-style-2 > li {
  padding: 10px 15px;
  margin-bottom: 4px;
  border-bottom: 1px solid #eee;
  border-radius: 4px;
  font-weight: 600;
}


/* BADGE */

.badge {
  border-radius: 3px;
}

.badge-good > .badge {
  background-color: #0074D9;
}

.badge-ok > .badge {
  background-color: #2ECC40;
}

.badge-bad > .badge {
  background-color: #FF4136;
}

/* Font Awesome */
.fa-rotate-15 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}